{% extends 'userhome/base.html' %}
{% load static %}

{% block title %}WeariN | Cancel order{% endblock title %}

{% block content %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'allProducts' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Contact</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            {% if order.payment == 2  %}
            <h2 class=" text-black">Refund Generated Successfully</h2>
            <p class=" mb-5">Your amount will be refunded within 5-7 working days. Thank  you for shopping with us!</p>
            {% else %}
            <h2 class=" text-black">Order Cancelled Successfully</h2>
            {% endif %}
            <p class="mt-2 fs-15">Your order ID is : {{order_id}} </p>
            <p><a href="{% url 'allProducts' %}" class="btn btn-sm btn-primary">Back to shop</a></p>
            
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}