{% extends 'adminhome/base.html' %}
{% load static %}
{% block title %}Coupon management{% endblock title %}
{% block body %}

<!-- Recent Sales -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Coupon</h5>

            {% include 'alerts.html' %}

            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Coupon code</th>
                        <th scope="col">Discount price</th>
                        <th scope="col">Min amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        <th scope="col">delete</th>
                        <th scope="col">edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in coupons %}

                    <tr>
                        <th scope="row">{{ c.id }}</th>
                        <td>{{c.coupon_code}}</td>
                        <td>₹{{c.discount_price}}</td>
                        <td>₹{{c.min_amount}}</td>
                        {% if c.is_expired %}
                        <td><span class="badge bg-danger">Expired</span></td>
                        {% else %}
                        <td><span class="badge bg-success">Active</span></td>
                        {% endif %}
                        <td>
                            <a href="{% url 'coupon_status' c.id %}">
                                {% if c.is_expired %}

                                <i class="fa-regular fa-circle-check text-success ms-3 fs-5"></i>
                                {% else %}
                                <i class="fa-sharp fa-solid fa-circle-xmark text-danger ms-3 fs-5"></i>
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger px-3" data-bs-toggle="modal"
                                data-bs-target="#delete{{ forloop.counter }}">
                                Delete
                            </button>
                        </td>

                        <div class="modal fade" id="delete{{ forloop.counter }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{c.coupon_code}}
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="{% url 'remove_coupon' c.id %}"> <button type="button"
                                                class="btn btn-primary">Confirm</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <td>
                            <button type="button" class="btn btn-outline-info px-3" data-bs-toggle="modal"
                                data-bs-target="#edit_modal-{{ forloop.counter }}">
                                Edit
                            </button>
                        </td>

                        <!-- Modal -->
                        <div class="modal fade" id="edit_modal-{{forloop.counter}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">
                                            Edit Product</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'edit_coupon' c.id %}" enctype="multipart/form-data"
                                            method="POST" class="row g-2">
                                            {% csrf_token %}
                                            <div class="form-outline mb-3">
                                                <input required name="coupon_code" value="{{ c.coupon_code }}"
                                                    type="text" id="form3Example1cg"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1cg">coupon code</label>
                                            </div>
                                            <div class="form-outline mb-3">
                                                <input required name="dis_price" value="{{c.discount_price}}"
                                                    type="text" id="form3Example1cg"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1cg">Discount Price</label>
                                            </div>
                                            <div class="form-outline mb-3">
                                                <input required name="min_amount" value="{{c.min_amount}}" type="number"
                                                    id="form3Example1cg" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1cg">Minimum Price</label>
                                            </div>
                                            <button type="submit" class="btn btn-success">Update</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
    <div class="btn btn-secondary  w-100" data-bs-toggle="modal" data-bs-target="#addproduct_modal-{{forloop.counter}}">
        Add coupon
    </div>
</div><!-- End table -->



<!-- Modal -->
<div class="modal fade" id="addproduct_modal-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">Add coupon</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_coupon' %}" enctype="multipart/form-data" method="POST" class="row g-2">
                    {% csrf_token %}

                    <div class="form-outline mb-3">
                        <input required name="coupon_code" type="text" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">coupon code</label>
                    </div>
                    <div class="form-outline mb-3">
                        <input required name="dis_price" type="number" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Discount price</label>
                    </div>
                    <div class="form-outline mb-3">
                        <input required name="min_amount" type="number" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Minimum price</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-dark btn-lg ">Save</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock body %}